{%extends 'user_layout.html'%}
{%block content%}
<div class="inner-banner">
</div>
	<!-- /contact-form -->
	<section class="w3l-contact-11">
		<div class="form-41-mian py-5">
			<div class="container py-lg-4">
			  <div class="row align-form-map">
				
				<div class="col-lg-6 form-inner-cont" style="margin-left: 300px;">
					<div class="title-content text-left">
						<h3 class="hny-title mb-lg-5 mb-4" style="margin-left: 110px;">Feedback</h3>
					</div>
				  <form  method="post" class="signin-form">
					<div class="form-input">
					  <input type="text" name="name" id="w3lName" placeholder="Name" required/>
					</div>
                    <div class="form-input">
                        <input type="email" name="email" id="w3lName" placeholder="Email" required/>
                      </div>
					
					<div class=" form-input">
					  <input type="text" name="subject" id="w3lSender" placeholder="Subject" required="" />
					</div>
				
					<div class="form-input">
					  <textarea placeholder="Message" name="message" id="w3lMessage" required=""></textarea>
					</div>
					<div class="submit-button text-lg-right">
					   <button type="submit" class="btn btn-style">Submit</button>
				    </div>
				  </form>
				</div>
			  </div>
			</div>
		  </div>
		 
	  </section>
	<!-- //contact-form -->

	{%endblock%}
	