<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
</head>
<body>
    <div id="main">
    <div id="SecondMain">
    <img src="../static/img/img icon.png" alt="">
    </div>
    <div id="third">
        <img src="../static/img/colorcor.png" alt="">
    </div>
    
    <div id="mytable">
        <table border="1" align="center" >
            <tr >
                <th>object</th>
                <th>Accuracy</th>

            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    </div>
</body>
</html>