
{%extends 'user_layout.html'%}
{%block content%}

	<div class="w3l-bottom-grids">
		<div class="container-fluid px-0">
			<div class="bottomhny-grids-sec">
				<div class="bottomhny-1">
					<div class="bottomhny-gd-ingf">
						<h4>Preventing Phishing Attacks Starts With You</h4>
					</div>
				</div>
				<div class="bottomhny-1 bottomhny-2">
					<div class="bottomhny-gd-ingf">
						<h4>Hackers using Microsoft Teams for phishing attacks to spread malware</h4>
					</div>
				</div>
				<div class="bottomhny-1 bottomhny-1-img">
					<div class="bottomhny-gd-ingf">

					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- //bottom-grids -->
<br><br>

	<!-- /specification-6-->
	<section class="w3l-specification-6">
		<div class="specification-6-mian py-5">
			<div class="container py-lg-5">
				<div class="row story-6-grids">
					<div class="col-lg-10 story-gd pl-lg-4  text-center mx-auto">
						<div class="title-content px-lg-5">
							<h3 class="hny-title two">What are phishing attacks?</h3>
							<p class="mt-3 mb-lg-5 px-lg-5 counter-para">Phishing is a fraudulent practice in which an attacker masquerades as a
								 reputable entity or person in an email or other form of communication.
								  Attackers commonly use phishing emails to distribute malicious links or attachments that can extract login credentials, 
								account numbers and other personal information from victims.</p>
						</div>
						

					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- //specification-6-->
	
<br>

	{%endblock%}